/* Estilos para formulários de criação e edição de utilizadores */

.form-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #d4d4d4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.form-container h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="number"],
.form-container select,
.form-container input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-container select {
    appearance: none; /* Remove o estilo padrão do elemento select */
    -webkit-appearance: none; /* Para navegadores WebKit */
    -moz-appearance: none; /* Para navegadores Mozilla */
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23333" d="M7.293 10.293a1 1 0 0 0 1.414 0L10 8.414l1.293 1.293a1 1 0 1 0 1.414-1.414l-2-2a1 1 0 0 0-1.414 0l-2 2a1 1 0 0 0 0 1.414z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    padding-right: 30px; /* Espaçamento para a seta do select */
}

.form-container input[type="file"] {
    margin-top: 10px;
    font-size: 16px;
}

.form-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos específicos para o botão Inativar */
.form-container .btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container .btn-danger:hover {
    background-color: #c82333;
}

/* Estilos específicos para o botão Update Utilizador */
.form-container .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container .btn-primary:hover {
    background-color: #0056b3;
}
